In [106]:
%env INSTANCE = my-sql

env: INSTANCE=my-sql

In [107]:
!mysql < /home/jupyter/sakila/sakila-database.sql

In [109]:
!mysql < /home/jupyter/sakila/sakila-data.sql

ERROR 1062 (23000) at line 44: Duplicate entry '1' for key 'PRIMARY'

In [31]:
!mysql sakila -e "select count(*) from actor"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [32]:
!mysql sakila -e "select count(*) from actor_info"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [33]:
!mysql sakila -e "select count(*) from address"

+----------+
| count(*) |
+----------+
|      603 |
+----------+

In [54]:
!mysql sakila -e "select count(*) from category"

+----------+
| count(*) |
+----------+
|       16 |
+----------+

In [55]:
!mysql sakila -e "select count(*) from city"

+----------+
| count(*) |
+----------+
|      600 |
+----------+

In [56]:
!mysql sakila -e "select count(*) from country"

+----------+
| count(*) |
+----------+
|      109 |
+----------+

In [57]:
!mysql sakila -e "select count(*) from customer"

+----------+
| count(*) |
+----------+
|      599 |
+----------+

In [58]:
!mysql sakila -e "select count(*) from customer_list"

+----------+
| count(*) |
+----------+
|      599 |
+----------+

In [59]:
!mysql sakila -e "select count(*) from film"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [60]:
!mysql sakila -e "select count(*) from film_actor"

+----------+
| count(*) |
+----------+
|     5462 |
+----------+

In [61]:
!mysql sakila -e "select count(*) from film_category"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [62]:
!mysql sakila -e "select count(*) from film_list"

+----------+
| count(*) |
+----------+
|      997 |
+----------+

In [63]:
!mysql sakila -e "select count(*) from film_text"

+----------+
| count(*) |
+----------+
|     1000 |
+----------+

In [64]:
!mysql sakila -e "select count(*) from inventory"

+----------+
| count(*) |
+----------+
|     4581 |
+----------+

In [65]:
!mysql sakila -e "select count(*) from language"

+----------+
| count(*) |
+----------+
|        6 |
+----------+

In [66]:
!mysql sakila -e "select count(*) from nicer_but_slower_film_list"

+----------+
| count(*) |
+----------+
|      997 |
+----------+

In [67]:
!mysql sakila -e "select count(*) from payment"

+----------+
| count(*) |
+----------+
|    16049 |
+----------+

In [68]:
!mysql sakila -e "select count(*) from rental"

+----------+
| count(*) |
+----------+
|    16044 |
+----------+

In [69]:
!mysql sakila -e "select count(*) from sales_by_film_catergory"

ERROR 1146 (42S02) at line 1: Table 'sakila.sales_by_film_catergory' doesn't exist

In [70]:
!mysql sakila -e "select count(*) from sales_by_store"

+----------+
| count(*) |
+----------+
|        2 |
+----------+

In [71]:
!mysql sakila -e "select count(*) from staff"

+----------+
| count(*) |
+----------+
|        2 |
+----------+

In [72]:
!mysql sakila -e "select count(*) from staff_list"

+----------+
| count(*) |
+----------+
|        2 |
+----------+

In [73]:
!mysql sakila -e "select count(*) from store"

+----------+
| count(*) |
+----------+
|        2 |
+----------+

In [74]:
!mysql sakila -e "select * from actor limit 5"

+----------+------------+--------------+---------------------+
| actor_id | first_name | last_name    | last_update         |
+----------+------------+--------------+---------------------+
|        1 | PENELOPE   | GUINESS      | 2006-02-15 04:34:33 |
|        2 | NICK       | WAHLBERG     | 2006-02-15 04:34:33 |
|        3 | ED         | CHASE        | 2006-02-15 04:34:33 |
|        4 | JENNIFER   | DAVIS        | 2006-02-15 04:34:33 |
|        5 | JOHNNY     | LOLLOBRIGIDA | 2006-02-15 04:34:33 |
+----------+------------+--------------+---------------------+

In [80]:
!mysql sakila -e "select * from actor_info limit 5"

+----------+------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| actor_id | first_name | last_name    | film_info                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
+----------+------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|        1 | PENELOPE   | GUINESS      | Animation: ANACONDA CONFESSIONS; Children: LANGUAGE COWBOY; Classics: COLOR PHILADELPHIA, WESTWARD SEABISCUIT; Comedy: VERTIGO NORTHWEST; Documentary: ACADEMY DINOSAUR; Family: KING EVOLUTION, SPLASH GUMP; Foreign: MULHOLLAND BEAST; Games: BULWORTH COMMANDMENTS, HUMAN GRAFFITI; Horror: ELEPHANT TROJAN, LADY STAGE, RULES HUMAN; Music: WIZARD COLDBLOODED; New: ANGELS LIFE, OKLAHOMA JUMANJI; Sci-Fi: CHEAPER CLYDE; Sports: GLEAMING JAWBREAKER                                                                                                                                                             |
|        2 | NICK       | WAHLBERG     | Action: BULL SHAWSHANK; Animation: FIGHT JAWBREAKER; Children: JERSEY SASSY; Classics: DRACULA CRYSTAL, GILBERT PELICAN; Comedy: MALLRATS UNITED, RUSHMORE MERMAID; Documentary: ADAPTATION HOLES; Drama: WARDROBE PHANTOM; Family: APACHE DIVINE, CHISUM BEHAVIOR, INDIAN LOVE, MAGUIRE APACHE; Foreign: BABY HALL, HAPPINESS UNITED; Games: ROOF CHAMPION; Music: LUCKY FLYING; New: DESTINY SATURDAY, FLASH WARS, JEKYLL FROGMEN, MASK PEACH; Sci-Fi: CHAINSAW UPTOWN, GOODFELLAS SALUTE; Travel: LIAISONS SWEET, SMILE EARRING                                                                                     |
|        3 | ED         | CHASE        | Action: CADDYSHACK JEDI, FORREST SONS; Classics: FROST HEAD, JEEPERS WEDDING; Documentary: ARMY FLINTSTONES, FRENCH HOLIDAY, HALLOWEEN NUTS, HUNTER ALTER, WEDDING APOLLO, YOUNG LANGUAGE; Drama: LUCK OPUS, NECKLACE OUTBREAK, SPICE SORORITY; Foreign: COWBOY DOOM, WHALE BIKINI; Music: ALONE TRIP; New: EVE RESURRECTION, PLATOON INSTINCT; Sci-Fi: WEEKEND PERSONAL; Sports: ARTIST COLDBLOODED, IMAGE PRINCESS; Travel: BOONDOCK BALLROOM                                                                                                                                                                        |
|        4 | JENNIFER   | DAVIS        | Action: BAREFOOT MANCHURIAN; Animation: ANACONDA CONFESSIONS, GHOSTBUSTERS ELF; Comedy: SUBMARINE BED; Documentary: BED HIGHBALL, NATIONAL STORY, RAIDERS ANTITRUST; Drama: BLADE POLISH, GREEDY ROOTS; Family: SPLASH GUMP; Horror: TREASURE COMMAND; Music: HANOVER GALAXY, REDS POCUS; New: ANGELS LIFE, JUMANJI BLADE, OKLAHOMA JUMANJI; Sci-Fi: RANDOM GO, SILVERADO GOLDFINGER, UNFORGIVEN ZOOLANDER; Sports: INSTINCT AIRPORT, POSEIDON FOREVER; Travel: BOONDOCK BALLROOM                                                                                                                                      |
|        5 | JOHNNY     | LOLLOBRIGIDA | Action: AMADEUS HOLY, GRAIL FRANKENSTEIN, RINGS HEARTBREAKERS; Animation: SUNRISE LEAGUE; Children: HALL CASSIDY; Comedy: DADDY PITTSBURGH; Documentary: BONNIE HOLOCAUST, METAL ARMAGEDDON, PACIFIC AMISTAD, POCUS PULP; Drama: CHITTY LOCK, CONEHEADS SMOOCHY; Games: FIRE WOLVES; Horror: COMMANDMENTS EXPRESS, LOVE SUICIDES, PATTON INTERVIEW; Music: BANGER PINOCCHIO, HEAVENLY GUN; New: FRONTIER CABIN, RIDGEMONT SUBMARINE; Sci-Fi: DAISY MENAGERIE, GOODFELLAS SALUTE, SOLDIERS EVOLUTION; Sports: GROOVE FICTION, KRAMER CHOCOLATE, STAR OPERATION; Travel: ENOUGH RAGING, ESCAPE METROPOLIS, SMILE EARRING |
+----------+------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [76]:
!mysql sakila -e "select * from address limit 5"

+------------+----------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+
| address_id | address              | address2 | district | city_id | postal_code | phone       | location                  | last_update         |
+------------+----------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+
|          1 | 47 MySakila Drive    | NULL     | Alberta  |     300 |             |             |        >
2]c4\�vۍ��H@     | 2014-09-25 22:30:27 |
|          2 | 28 MySQL Boulevard   | NULL     | QLD      |     576 |             |             |        ��߁$c@N��P"�;�        | 2014-09-25 22:30:09 |
|          3 | 23 Workhaven Lane    | NULL     | Alberta  |     300 |             | 14033335568 |        ��hc4\��~p��H@       | 2014-09-25 22:30:27 |
�4&c@B֮d"�;�     | 2014-09-25 22:30:09 |L     | QLD      |     576 |             | 6172235589  |        [
|          5 | 1913 Hanoi Way       |          | Nagasaki |     463 | 35200       | 28303384290 |        (�7!7`@����_�@@       | 2014-09-25 22:31:53 |
+------------+----------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+

In [77]:
!mysql sakila -e "select * from category limit 5"

+-------------+-----------+---------------------+
| category_id | name      | last_update         |
+-------------+-----------+---------------------+
|           1 | Action    | 2006-02-15 04:46:27 |
|           2 | Animation | 2006-02-15 04:46:27 |
|           3 | Children  | 2006-02-15 04:46:27 |
|           4 | Classics  | 2006-02-15 04:46:27 |
|           5 | Comedy    | 2006-02-15 04:46:27 |
+-------------+-----------+---------------------+

In [105]:
!mysql sakila -e "select * from city limit 5"

In [ ]:
!mysql sakila -e "select * from country limit 5"

In [ ]:
!mysql sakila -e "select * from customer limit 5"

In [ ]:
!mysql sakila -e "select * from customer_list limit 5"

In [ ]:
!mysql sakila -e "select * from film limit 5"

In [ ]:
!mysql sakila -e "select * from film_actor limit 5"

In [ ]:
!mysql sakila -e "select * from film_category limit 5"

In [ ]:
!mysql sakila -e "select * from film_list limit 5"

In [ ]:
!mysql sakila -e "select * from film_text limit 5"

In [ ]:
!mysql sakila -e "select * from inventory limit 5"

In [117]:
!mysql sakila -e "select * from language limit 5"

+-------------+----------+---------------------+
| language_id | name     | last_update         |
+-------------+----------+---------------------+
|           1 | English  | 2006-02-15 05:02:19 |
|           2 | Italian  | 2006-02-15 05:02:19 |
|           3 | Japanese | 2006-02-15 05:02:19 |
|           4 | Mandarin | 2006-02-15 05:02:19 |
|           5 | French   | 2006-02-15 05:02:19 |
+-------------+----------+---------------------+

In [ ]:
!mysql sakila -e "select * from nicer_but_slower_film_list limit 5"

In [ ]:
!mysql sakila -e "select * from payment limit 5"

In [ ]:
!mysql sakila -e "select * from rental limit 5"

In [ ]:
!mysql sakila -e "select * from sales_by_film_category limit 5"

In [ ]:
!mysql sakila -e "select * from sales_by_store limit 5"

In [ ]:
!mysql sakila -e "select * from staff limit 5"

In [ ]:
!mysql sakila -e "select * from staff_list limit 5"

In [ ]:
!mysql sakila -e "select * from store limit 5"

In [48]:
# This Query gets all cities where the country Id is 44 and orders them by the city name

In [118]:
!mysql sakila -e "select city from city where country_id = '44' ORDER BY city"

+-------------------------+
| city                    |
+-------------------------+
| Adoni                   |
| Ahmadnagar              |
| Allappuzha (Alleppey)   |
| Ambattur                |
| Amroha                  |
| Balurghat               |
| Berhampore (Baharampur) |
| Bhavnagar               |
| Bhilwara                |
| Bhimavaram              |
| Bhopal                  |
| Bhusawal                |
| Bijapur                 |
| Chandrapur              |
| Chapra                  |
| Dhule (Dhulia)          |
| Etawah                  |
| Firozabad               |
| Gandhinagar             |
| Gulbarga                |
| Haldia                  |
| Halisahar               |
| Hoshiarpur              |
| Hubli-Dharwad           |
| Jaipur                  |
| Jhansi                  |
| Jodhpur                 |
| Kamarhati               |
| Kanchrapara             |
| Karnal                  |
| Katihar                 |
| Kumbakonam              |
| Miraj                   |
| Munger (Monghyr)        |
| Mysore                  |
| Nagaon                  |
| Palghat (Palakkad)      |
| Parbhani                |
| Pathankot               |
| Patiala                 |
| Pudukkottai             |
| Pune                    |
| Purnea (Purnia)         |
| Rae Bareli              |
| Rajkot                  |
| Rampur                  |
| Ranchi                  |
| Sambhal                 |
| Satna                   |
| Shimoga                 |
| Shivapuri               |
| Siliguri (Shiliguri)    |
| Tambaram                |
| Udaipur                 |
| Uluberia                |
| Uttarpara-Kotrung       |
| Valparai                |
| Varanasi (Benares)      |
| Vijayawada              |
| Yamuna Nagar            |
+-------------------------+

In [ ]:
#This query inserts a new record called with the name "romCom" in the category table

In [131]:
!mysql sakila -e "insert into category (name) values ('romCom')"

In [132]:
!mysql sakila -e "select * from category"

+-------------+-------------+---------------------+
| category_id | name        | last_update         |
+-------------+-------------+---------------------+
|           1 | Action      | 2006-02-15 04:46:27 |
|           2 | Animation   | 2006-02-15 04:46:27 |
|           3 | Children    | 2006-02-15 04:46:27 |
|           4 | Classics    | 2006-02-15 04:46:27 |
|           5 | Comedy      | 2006-02-15 04:46:27 |
|           6 | Documentary | 2006-02-15 04:46:27 |
|           7 | Drama       | 2006-02-15 04:46:27 |
|           8 | Family      | 2006-02-15 04:46:27 |
|           9 | Foreign     | 2006-02-15 04:46:27 |
|          10 | Games       | 2006-02-15 04:46:27 |
|          11 | Horror      | 2006-02-15 04:46:27 |
|          12 | Music       | 2006-02-15 04:46:27 |
|          13 | New         | 2006-02-15 04:46:27 |
|          14 | Sci-Fi      | 2006-02-15 04:46:27 |
|          15 | Sports      | 2006-02-15 04:46:27 |
|          16 | Travel      | 2006-02-15 04:46:27 |
|          21 | romCom      | 2021-09-10 03:14:09 |
+-------------+-------------+---------------------+

In [ ]:
Write an UPDATE statement to update one or more records from any one of the
tables. Add a short comment above your SQL statement to describe the SQL.
● Write a DELETE statement to delete one or more records from any one of the
tables. Add a short comment above your SQL statement to describe the SQL.

In [ ]:
#This query updates

In [115]:
!mysql sakila -e "update category set name = 'Romantic Comedy' where name ='romCom'"

In [129]:
!mysql sakila -e "delete from category where name = 'Romantic Comedy' or name = 'romCom'"